
html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: large;
    padding: 1rem;
    border-radius: 0.5rem;
    width: fit-content;
}

#target {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    width: 50vw;
    height: 50vh;
    margin: 1rem auto;
}

.box {
    height: 1rem;
    width: 1rem;
    background-color: aqua;
    margin: 1rem;
    padding: 1rem;
}